.button {
  color: #0f172a;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  padding: 7px;
  margin-left: 15px;
  margin-right: 15px;
}

.active-btn {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 25px;
  width: 50px;
}
